<%- include("partials/header") %>
<div class="container d-none d-sm-block ">
    <div class="jumbotron fluid-jumbotron bg-transparent text-center">
        <h1 class="header" >Welcome to your to-do list app</h1>
        <% if(!currentUser){ %>
            <p>Log in or register to start creating lists!</p>
        <% } else { %>
            <a pt-1 href="/todolist">Take me to my todo lists!</a>
        <% }; %>  
        <img class="rounded pt-2 mx-auto d-block" src="todo.gif" alt="todostatic.png">      
    </div>
</div>
<%- include("partials/footer") %>