body {
	background: rgb(61, 126, 170); /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		rgb(132, 170, 61),
		rgb(255, 242, 122)
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		rgb(132, 170, 61),
		rgb(255, 228, 122)
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Roboto', sans-serif;
}
.mobile {
	font-size: 50px;
	position: relative;
	text-align: center;
	text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
}
.header {
	color: rgb(250, 250, 250);
	font-size: 50px;
	position: relative;
	text-align: center;
	text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
}
img {
	box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
}
.box {
	background-color: rgb(247, 242, 242);
	box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
	margin: 80px auto;
	width: 360px;
}
.ListHeader {
	background-color: rgb(108, 204, 188);
	color: rgb(250, 250, 250);
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	padding: 10px 20px;
}
.fa-plus,
.fa-tasks {
	float: right;
}
input {
	background-color: rgb(247, 242, 242);
	border: 1px solid rgba(0, 0, 0, 0.103);
	box-sizing: border-box;
	color: rgb(108, 151, 204);
	font-size: 18px;
	height: 45px;
	padding: 13px 13px 13px 20px;
	width: 100%;
}
input:focus {
	background-color: rgb(250, 250, 250);
	border: 2px solid rgb(108, 151, 204);
	outline: none;
}
li,
.fa-plus {
	cursor: pointer;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.lists a {
	padding-left: 24px;
}
.lists li:nth-child(2n) {
	background-color: rgb(245, 232, 180);
}
.todoList form {
	display: inline;
}
.todoItem {
	background-color: rgb(250, 250, 250);
	color: rgb(70, 70, 70);
	height: 40px;
	line-height: 40px;
}
.todoItem:nth-child(2n) {
	background-color: rgb(247, 242, 242);
}
.deleteIcon:hover {
	opacity: 1.0;
	width: 40px;
}
.deleteIcon {
	background-color: rgb(240, 62, 62);
	color: rgb(250, 250, 250);
	display: inline-block;
	height: 40px;
	margin-right: 20px;
	opacity: 0;
	text-align: center;
	transition: 0.2s ease-in;
	width: 0;
}
.completed {
	color: grey;
	text-decoration: line-through;
}
